<h1><%= t "views.password_reset.edit.reset_pass" %></h1>
<p>To reset password, click on the link:</p>
  <%= link_to t("views.password_reset.edit.reset_pass"), edit_password_reset_url(@user.reset_token,
    email: @user.email) %>


