<div class="box tabular" >
  <div id="all_attributes">
    <div id="template_area" style="margin-top: 4pt;">
      <div class="template_help box" id="template_help_content"
        style="display: none;">
        <div id="template_help_hide">
          <%= link_to "[x]", "#" %>
        </div>
      </div>
    </div>
    <%= render "issues/form" %>
    <div class="preview-description">
    </div>
  </div>
</div>
