.issue-management
{
  padding: 2% 0;
  text-align: right;
}
.issue-management a
{
  margin-right: 0.3em;
}
.issue-add
{
  text-align: right;
}
.issue-index-link
{
  margin-bottom: 2em;
}
.issue-index-link a
{
  margin-right: 0.8em;
}
hr{
  width: 96%;
  margin: 2% 2%;
}
.issue-submit-delete
{
  background: none !important;
  border: none !important;
  color: #446E9B !important;
  width: 50px !important;
  margin-left: -25px;
}
.issue-delete
{
  color: #446E9B;
}
.bo-qua{
  position: absolute;
  margin: 0.5em !important;
}
